# Plantilla de Entorno (Copia este archivo como .env y rellena tus datos)

# Credenciales de la Base de Datos
POSTGRES_USER=tu_usuario_aqui
POSTGRES_PASSWORD=tu_contraseña_secreta_aqui
POSTGRES_DB=biometria_db
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres_db:5432/${POSTGRES_DB}

# Configuración del Motor Facial
DEEPFACE_MODEL=Facenet512
DEEPFACE_DETECTOR=retinaface
MATCH_THRESHOLD=0.35

# Servidor
PORT=5005
ANTI_SPOOFING=1
